<header>
    <h2><a href="#">robomoto.org</a></h2>
    <nav>
        <li><a href="/projects/new">+ Add a Project</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/education">Education</a></li>
        <li><a href="#">Contact</a></li>
    </nav>
</header>