<header>
    <h2><a href="/">robomoto.org</a></h2>
    <nav>
        <li><a href="/">About</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/education">Education</a></li>
    </nav>
</header>