<% layout('layouts/boilerplate') %> 
<article class="projectLinks">
    <div class="projectName">
        <h3 class="title">Chris Douglass</h3>
        <hr>
    </div>
    <ul class="links">
        <li><a class="sourceCode" href="https://github.com/robomoto">GitHub</a></li>
        <li><a class="sourceCode" href="https://www.linkedin.com/in/christopher-s-douglass/">LinkedIn</a></li>
    </ul>
</article>

<div class="shortDescription">
    Hi! I'm Chris.  I graduated from Oregon State University with a degree in Computer Science in December 2020 and am seeking a position as a software developer.
</div>
<hr>
<div class="description">
    
</div>