<% layout('layouts/boilerplate') %> 
<article class="projectLinks">
    <div class="projectName">
        <h3 class="title">Chris Douglass</h3>
        <hr>
    </div>
    <ul class="links">
        <li><a class="sourceCode" href="https://github.com/robomoto">GitHub</a></li>
        <li><a class="sourceCode" href="https://www.linkedin.com/in/christopher-s-douglass/">LinkedIn</a></li>
    </ul>
</article>

<div class="shortDescription mb-4">
    <p>Hi! I'm Chris.</p>  
    <p>I graduated from Oregon State University with a degree in Computer Science in December 2020 and am seeking a position as a software developer.</p> 
    <p>Here you'll find some of my projects and interests. The page itself is a Node.js web application using Express and MongoDB, hosted on AWS and has served as a good learning tool for several web development technologies.
        More information about it can be found on the <a href="/projects">Projects</a> page.</p>
    
</div>
<hr>
