<% layout('layouts/boilerplate') %> 
    <form action="/projects" method="POST">
        <div class="projectLinks">
            <section class="formName">
                <label for="name">Project Name</label><br />
                <input type="text" name="project[name]" id="name" placeholder="Project Name">
            </section>
    
            <section class="projectGitHubLink">
                <label for="gitHubLink">GitHub Link</label><br />
                <input type="url" name="project[gitHubLink]" id="gitHubLink" placeholder="gitHub Link">
            </section>
            
            <section class="projectLiveLink">
                <label for="liveLink">Live Link</label><br />
                <input type="text" name="project[liveLink]" id="liveLink" placeholder="Live Link">
            </section>

        </div>
        
        <section class="formShortDescription">
            <label for="shortDescription">Short Description</label><br />
            <textarea name="project[shortDescription]" id="shortDescription" cols="30" rows="5"></textarea>
        </section>

        <section class="formDescription">
            <label for="description">Description</label><br>
            <textarea name="project[description]" id="description" cols="30" rows="10"></textarea>
        </section>
        
        <section class="formTags">
            <label for="newTag">Add Tags</label><br />
            <input type="text" name="project[tags]" id="tags" placeholder="Comma separated list">
        </section>
        
        <section class="submit">
            <button>Submit</button> <a href="/projects" class="btnLink">Cancel</a>
        </section>
        
    </form>
    
